* {-moz-box-sizing:    border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
html, body {
	background: white;
	color: #333;
	font: 20px 'Lato', sans-serif;
	width: 100%; max-width: 500px;
	margin: 0 auto; padding: 10px;
}
p { text-align: justify; }
a { text-decoration: none; color: #2ECC71; }

.alert { 
	color: white;
	font-size: 20px;
        border-radius: 6px;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
}
.green { background: #2ECC71 }
.red { background: #E24646 }
.alert a { color: white; font-weight: bold }

#prevcolor {
	width: 100%; height: 200px;
	text-align: center;
	padding: 20%; margin: 5px 0;
	border-radius: 6px;
}

input {
	background: white;
	color: #AAA;
	font-size: 20px;
	border: 2px solid #DFDFDF;
	border-radius: 6px;
	padding: 5px 10px; margin: 2px 0;
	width: 100%;
	-webkit-appearance: none;
	outline: none;
}
input:focus { color: #2ECC71; border-color: #2ECC71; }
input::-moz-focus-inner { border: 0 }

input[type=submit] { background: #4686E3; color: white; border: 0 }
input[type=submit]:active { background: #4280D9 }

.linkeitor input:nth-child(even) { margin-bottom: 10px; }

.navbar {
	list-style: none;
	background: #2ECC71;
	color: white;
	border-radius: 6px;
  padding: 10px;
}
li {display: inline}
li a { color: white; border-radius: 6px; padding: 5px; margin-bottom: 5px }
li a:hover, li a.active { background: #29B866 }